@model AdminModuleCard

@{
    var moduleUrl = Model.IsAvailable
        ? (Model.UrlOverride ?? $"/adminportal/{Model.Controller.ToLowerInvariant()}")
        : "#";
    var cardClasses = $"tm-module-card {Model.AccentClass}";
    if (!Model.IsAvailable)
    {
        cardClasses += " tm-module-card--soon";
    }
}

<div class="col-12 col-md-6 col-xl-4 module-grid-item"
     data-module-name="@Model.Name"
     data-module-description="@Model.Description"
     data-module-available="@(Model.IsAvailable ? "true" : "false")">
    <a class="@cardClasses"
       href="@moduleUrl"
       @(Model.IsAvailable ? null : Html.Raw("data-soon-module=\"true\""))
       aria-label="@Model.Name module">
        <span class="tm-module-card__icon @Model.AccentClass">
            <i class="bi @Model.IconClass"></i>
        </span>
        <h3 class="tm-module-card__title">
            @Model.Name
            @if (!Model.IsAvailable)
            {
                <span class="tm-module-card__badge">Coming soon</span>
            }
        </h3>
        <p class="tm-module-card__desc">@Model.Description</p>
    </a>
</div>
